[user]
	email = sebastianwach222@gmail.com
	name = Varssos
[credential]
	helper = store
[gitreview]
	remote = origin
[color]
	ui = auto
[core]
	editor = nano

[alias]
    s = status
    lg = log --oneline --decorate --all --graph
