[submodule "bashrc"]
	path = bashrc
	url = https://github.com/Varssos/bashrc.git
	branch = master
[submodule "tmux_config"]
	path = tmux_config
	url = https://github.com/Varssos/tmux_config.git
	branch = master
[submodule "keybindings"]
	path = keybindings
	url = https://github.com/Varssos/keybindings.git
	branch = master
